@import '~bootstrap-scss/bootstrap';
@import '~antd/dist/antd.css';
@import './sidebar.scss';
@import './table.scss';


@font-face {
    font-family: 'Gotham';
    src: url( '../assets/font//Gotham-Light.otf' );
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham';
    src: url( '../assets/font//Gotham.woff' ) format( 'woff' );
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham';
    src: url( '../assets/font//Gotham.woff' ) format( 'woff' );
    font-weight: 600;
    font-style: normal;
}

body {
    font-family: 'Gotham' !important;
    font-weight: 500 !important;
    color: #4B4948 !important;
}

.text-muted {
    color: #737373 !important;
    font-weight: 400;
}

.cursor-pointer {
    cursor: pointer;
}

.font-weight-bold {
    font-weight: 500;
}

.text-xs {
    font-size: 14px;
}

.text-sm {
    font-size: 16px;
}

.text-md {
    font-size: 20px;
}

.text-lg {
    font-size: 24px;
}

.card-container {
    padding: 30px;
    border-radius: 10px;
    background: #FFFF;

    .ant-table-thead .ant-table-cell {
        color: #4B4948;
        background: #FFFF !important;
    }
}

.ant-drawer-footer {
    padding: 0px !important;
    
    .ant-btn-primary {
        color: white;
        font-size: 16px;
        background-color: #3BCFB4;
        padding: 15px;
        padding-bottom: 35px !important;
        text-align: center;
        border: 3px #3BCFB4;
    
        img {
            margin-top: -5px !important;
            margin-right: 8px !important;
        }

        &:hover {
            color: white;
            background-color: #1ABC9F;
        }
        &:disabled {
            opacity: .6;
        }
    }

    .ant-btn-default {
        font-size: 18px;
        padding: 15px;
        padding-bottom: 28px !important;
        text-align: center;
        border: 1px #CCCCCC;

        &:hover {
            background-color: #F5F5F5 !important;
        }
       
    }

}

.ant-form-item-row {
    margin-top: -20px !important;
    .ant-form-item-label {
        padding-bottom: 2px;
        label {
            color: #4B4948 !important;
        }
    }

    .ant-form-item-explain-error {
        text-align: left;
        font-weight: 400;
        font-size: 12px !important;
    }
}

.ant-input-lg {
    display: block !important;
    border: 1px solid #737373 !important;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 10px;
    font-size: 14px !important;
}

.stock-input {
    border: 1px solid #737373 !important;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 10px;
    font-size: 14px !important;

    input {
        border: none !important;
        text-align: center;
    }

    svg {
        cursor: pointer;
    }
}

.ant-select-lg  {
    display: block !important;
    font-size: 14px !important;
    font-weight: 400;
    border-radius: 10px !important;
}

.ant-select-selector {
    border-radius: 10px !important;
    border: 1px solid #737373 !important;
}

 .ant-notification-notice-description {
    font-weight: 400 !important;
}

.pull-right {
    float: right;
}

.d-none {
    display: none;
}

.action-btn-half {
    width: 50%;
}

.action-btn-full {
    width: 100%;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none !important;
  margin: 0;
}

input:focus {
    outline: none !important;
    box-shadow: none !important;
}

input:disabled {
    cursor: not-allowed;
    background: #F5F5F5;
    color:#cccc;
}

.buttons-stock {
    .ant-btn-primary {
        color: white;
        font-size: 16px;
        background-color: #3BCFB4;
        text-align: center;
        border: 3px #3BCFB4;
        &:hover {
            color: white;
            background-color: #1ABC9F;
        }
    }

    .ant-btn-default {
        font-size: 18px;
        text-align: center;
        border: 1px solid #3BCFB4 !important;
        color:#3BCFB4 !important;
        background-color: transparent !important;

        &:hover {
            background-color: #F5F5F5 !important;
        }
    }

    .btn-left {
        border-radius: 10px 0px 0px 10px;
    }

    .btn-right {
        border-radius: 0px 10px 10px 0px;
    }
}

.w-100 {
    width: 100% !important;
}


.table-select .ant-select-selector{
    border-radius: 0px !important;
    border: 1px solid #cccc !important; 
}

.receipt-body{
    border:1px solid black;
    border-radius: 10px;
    color: black;

    .ant-form-item-label label {
        font-size: 20px !important;
    }

    .ant-input, .ant-picker-input input {
        font-size: 20px !important;
    }

}

.table-borderless {
    color: black;
}

.ant-drawer-inline {
    position: fixed !important;
}