.ant-table-cell {
  font-weight: 400;
}

.ant-table-thead {
  color:#4B4948;
}

.ant-pagination-item-link .anticon svg {
  margin-top: -7px !important;
}

.ant-btn:hover {
  border: 1px solid #09947B;
}

.ant-btn-default {
  margin-bottom: 5px;
  font-size: 14px !important;
  background-color: transparent !important;
  color:#4B4948 !important;

  img {
    margin-top: -5px !important;
    margin-right: 8px !important;
  }

}

table td, table th {
  border-bottom : 1px solid black;
}

table tfoot td {
  border-bottom : none !important;
}
